$font-color: #33332f;
$button-color: #999997;
$button-background: #fbfbfb;
$border-color: #ebebea;
$border: 1px solid $border-color;

$main-content-width: 600px;
$sidebar-width: $main-content-width / 2
