.app {
  margin: 40px 80px 0;
  font-size: 16px;
  font-weight: 400;
  color: $font-color;

  @include onMediumDesktop {
    margin: $desktop-space;
  }

  @include onTablet {
    margin: $tablet-space;
  }

  @include onPhone {
    margin: $phone-space;
  }
}
