.track {
  &__form {
    display: flex;
    width: $main-content-width;
    align-items: center;
    margin-bottom: $desktop-space;
    position: relative;

    @include onTablet {
      width: 100%;
      margin-bottom: $tablet-space;
    }

    @include onPhone {
      margin-bottom: $phone-space;
    }
  }

  &__formInput {
    height: 48px;
    padding: 0 34px 0 24px;
    border-radius: 2px;
    border: $border;
    border-right: 0;
    padding-right: 16px;
    width: 100%;
    height: 48px;
  }

  &__formButton {
    font-size: 18px;
    height: 48px;
    width: 212px;
    @extend %pageButtonStyles;
  }

  &__formError {
    font-size: 12px;
    position: absolute;
    height: $error-height;
    padding: 8px;
    background: $error-background;
    color: $error-color;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -$error-height;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &__data {
    display: flex;

    @include onMediumDesktop {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: $desktop-space;
    }

    @include onTablet {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }

  &__status {
    width: $main-content-width;
    padding: $phone-space;
    border: $border;
    margin-right: $desktop-space;
    height: fit-content;
    min-width: $main-content-width;

    @include onMediumDesktop {
      max-width: $main-content-width;
      min-width: inherit;
      width: 100%;
      margin-right: 0;
      margin-bottom: $desktop-space;
    }

    @include onTablet {
      max-width: none;
      width: 100%;
      margin-bottom: $tablet-space;
    }

    @include onPhone {
      margin-bottom: $phone-space;
    }
  }

  & p:not(:last-child) {
    margin-bottom: 8px;
  }

  &__history {
    width: $sidebar-width;
    padding: $phone-space;
    border: $border;

    @include onMediumDesktop {
      width: 100%;
    }

    & li:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__historyTitle {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }

  &__historyList {
    margin-bottom: $tablet-space;
  }

  &__historyItem {
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $red;
    }
  }

  &__clearHistoryButton {
    color: $addition-button-color;
    background-color: $white;
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $font-color;
    }
  }
}
